<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="layui/layui.js"></script>
    <link rel="icon" href="/img/logo.png" sizes="15x16">
</head>
<body>

<div class="wapper" style="width: 500px;margin-top: 40px">
    <fieldset class="layui-elem-field layui-field-title">
        <legend style="font-size: 26px">修改密码</legend>
    </fieldset>
    <form class="layui-form" th:action="@{/changepassword/ok}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-inline">
                <input type="hidden" name="id" value="${loginUser.userId }">
                <input type="password" name="oldPwd"  placeholder="原密码" autocomplete="off"
                       class="layui-input">
            </div>
            <div  class="layui-form-mid" style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="newPwd"  placeholder="新密码"
                       autocomplete="off"
                       class="layui-input" lay-verify="pass">
            </div>
            <div class="layui-form-mid layui-word-aux">长度为5-12位字母或者数字</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="newPwdAgain"  placeholder="确认密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">长度为5-12位字母或者数字</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit  type="submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>