<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <title>全部房源</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" href="/img/logo.png" sizes="15x16">
</head>
<body>

<div class="list_control_bar layui-container">
    <div class="layui-container">
        <div class="layui-pull-left">
            <a th:href="@{/index.html}">
                <img src="/img/logo.png" height="50px">
            </a>
        </div>
    </div>

    <div class="list_more">
        <ul class="layui-pull-right list-item">
            <form class="search-form layui-form" method="get" th:action="@{/Morehouses}">
                <div class="layui-pull-left input">
                    <input type="text" placeholder="请输入关键字" name="keywords" class="search layui-input"
                           lay-verify="">
                </div>
                <div class="layui-pull-left button">
                    <button class="btn search-btn" lay-submit type="submit">
                        <p  style="font-size: 24px;" th:value="搜索">搜索</p>
                    </button>
                </div>
            </form>
        </ul>
    </div>
</div>

<!--内容开始-->
<div class="list_control_bar layui-container">
    <div>
        <div class="list_title layui-pull-left"><span>全部房源</span></div>
        <div class="list_more">
            <ul class="layui-pull-right list-item">
                <li class="click-this"><a th:href="@{/Morehouses}">默认排序</a></li>
                <li><a th:href="@{/Morehouses?keywords=asd2136587q4wes855415qwe5}">价格升序</a></li>
                <li><a th:href="@{Morehouses?keywords=1356dfs13f5sd3554fsdfwe85x}">价格降序</a></li>
            </ul>
        </div>
    </div>
</div>

<section class="layui-container">
    <div class="house-detail">
        <ul>
            <forEach th:each="houses: ${houses}">
                <li>
                    <a  target="_blank" th:href="@{'/housesdetail?houseId='+${houses.houseId}}" class="show-image">
                        <img th:src="'/temporaryfiles/'+${houses.houseImageName}" width="200px" height="150px">
                    </a>
                    <div class="show-details">
                        <p class="house-title">
                            <a  target="_blank" th:href="@{'/housesdetail?houseId='+${houses.houseId}}" th:text="${houses.houseDescription }"></a>
                        </p>
                        <p class="house-about">
                            <span th:text="'厅室：'+${houses.houseModel}"></span>
                            <span class="flag-line">|</span>
                            <span th:text="'面积:'+${houses.houseArea}"><sup>2</sup></span>
                            <span class="flag-line">|</span>
                            <span th:text="'出售类型:'+${houses.houseType}"></span>
                        </p>
                        <p class="house-address clearfix">
                            <span class="whole-line">
			    		        <span th:text="'地址'+${houses.houseAddress}"></span>
					        </span>
                        </p>
                        <div class="show-price">
                            <span class="sale-price" th:text="'价格:'+${houses.housePrice}"></span>
                            <span class="sale-unit">元/月</span>
                        </div>
                    </div>
                </li>
            </forEach>
        </ul>

        <form method="post" ></form>
    </div>

    <div class="house-detail" th:if="${HouseNumber==0}">
        <h2>当前无任何房源</h2>
    </div>

</section>

<!--分页-->
    <div>
        <div class="list_more">
            <ul class="layui-pull-right list-item">
                <li>
                    <a  th:href="@{/Morehouses?page=1}">
                        <h2 th:text="首页">1</h2>
                    </a>
                </li>
                <li>
                    <a  th:href="@{'/Morehouses?page='+${page.pageNum-1}}">
                        <h2 th:text="${page.pageNum-1}" th:if="${page.pageNum} != 1">2</h2>
                    </a>
                </li>
                <li>
                    <a  th:href="@{'/Morehouses?page='+${page.pageNum}}">
                        <h2 style="color: #ffc601" th:text="${page.pageNum}">3</h2>
                    </a>
                </li>
                <li>
                    <a  th:href="@{'/Morehouses?page='+${page.pageNum+1}}">
                        <h2  th:text="${page.pageNum+1}" th:if="${page.pageNum} !=${page.pages}">4</h2>
                    </a>
                </li>
                <li>
                    <a  th:href="@{'/Morehouses?page='+${page.pages}}">
                        <h2 th:text="尾页">5</h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>

<hr/>
<footer>
    <p>找房租房 就上胜房网 优质房源放心买</p>
</footer>

</body>
</html>