<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hose.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.hose.pojo.Admin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, account_name, password
    from admin
  </select>
    <select id="selectAdmin" resultType="com.hose.pojo.Admin">
      select *
      from `admin`
      where account_name=#{accountName} and password=#{password}
    </select>
</mapper>