<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看所有用户</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div class="layui-fluid" style="margin-top: 40px;">
    <table id="allUser" lay-filter="user">
        <section class="layui-container">
            <div class="house-detail" th:if="${users} != 0">
                <ul>
                    <forEach th:each="u: ${uoh}">

                        <li>
                            <div class="show-details">
                                    <h1 th:text="'用户Id：'+${u.user.userId}"></h1>
                                <a th:href="@{'/admin/editUser?userId='+${u.user.userId}}">
                                    <button>修改</button>
                                </a>
                                <a th:href="@{'/admin/delete?userId='+${u.user.userId}}">
                                    <button>删除</button>
                                </a>
                                <br>
                                    <span th:text="'用户昵称：'+${u.user.userNickname}"></span>
                                <br>
                                    <span th:text="'用户账号:'+${u.user.userAccountName}"></span>
                                <br>
                                    <span th:text="'用户密码:'+${u.user.userPassword}"></span>
                                <br>
                                    <span  th:text="'用户订单:'+${u.ordersize}"></span>

                                <a th:href="@{'/admin/order?userId='+${u.user.userId}}">
                                    <button>查看</button>
                                </a>
                                <br>
                                    <span  th:text="'用户已发布房源:'+${u.housesize}"></span>
                                <a th:href="@{'/Myhousing?userId='+${u.user.userId}}">
                                    <button>查看</button>
                                </a>
                            </div>
                        </li>
                        <hr>
                    </forEach>
                </ul>

                <form method="post" ></form>
            </div>

            <div class="house-detail" th:if="${users} == 0">
                <h2>当前无任何用户</h2>
            </div>

        </section>
    </table>
</div>

</body>
</html>